{% extends "guest/base.html.twig" %}

{% block title %}Erreur 404
{% endblock %}

{% block main %}
	<div class="container">
		<h1>Erreur 404</h1>

		<p>Oups! La page que vous recherchez n'existe pas.</p>

		<button>
			<a href="{{ path('guest-home') }}">Retour à l'accueil</a>
		</button>

	</div>
{% endblock %}
