<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li>lienA</li>
				</ul>
			</nav>

			<div class="auth-button">
				<button>Connexion</button>
				<button>Inscription</button>

			</div>

		</header>

		{% block main %}{% endblock %}

		<footer>
			<div>
				<!-- Logo and Description -->
				<div class="footer-logo">
					<img src="{{asset('assets/images/logo.png')}}" alt="Logo">
				</div>
				<p>Recettes d’ici et d’ailleurs, histoires de partout.</p>

				<!-- Navigation Links -->
				<nav>
					<ul>
						<li><a href="{{path ('guest-home')}}">Accueil</a></li>
						<li><a href="{{path ('guest-about')}}">À propos</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</nav>

				<!-- Legal Mentions and Copyright -->
				<div class="footer-bottom">
					<p>&copy; 2025 Saveurs Collectives. Tous droits réservés.</p>
				</div>
			</div>
		</footer>

	</body>

</html>
